* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }
  
  body {
    position: relative;
    background: $black;
    font-family: $font-global;
  }

  h1{
      font-family: $font-heading;
      font-size: 48px;
      letter-spacing: 0em;
      line-height: 64px;
      font-weight: 700;
  }


  a {
    cursor: pointer;
    color: $white;
  }