.header{
    position: absolute;
    width: 100%;
    display:flex;
    padding-top: 42px;
    justify-content: left;
    align-items: baseline;

    &__logo{
        flex: 0 0 34%;
        padding-left: 12.6%;
        font-size: 20px;
        letter-spacing: 0.1em;
        }

    .nav {
        &__list{
            display: flex;
            flex-flow: row nowrap;
            gap: 29px;
            flex: 0 0 792px;
            font-size: 14px;
            letter-spacing: 0.2em;
        }
       
        &__link--underline{
            border-bottom: solid 3px #ffffff;
            padding-bottom: 3px;   
            }
    
    }  

        &__menu__toggler{
            font-size: 30px;
            color: white;
            position: absolute;
            top: 35px;
            right: 30px;
            cursor: pointer;
            z-index: 100;
            display: none;

            > i {
                font-size: 24px;
                z-index: 101;
            }
        }
       
  

        #mycheckbox {
            display: none;
        }

        .fa.fa-close {
            padding-top: 6px;
            font-size: 30px;
            display: none;
        }
   
}


