
@media only screen and (max-width: 768px) {
    /* 1/3 Top part */
    .header {
        &__logo {
            padding-left: 7%;
        }

        &__menu__toggler {
            display: block;
        }
    
    .nav {
        width: 72%;
        height: 100%;
        top: 0;
        right: -72%;
        position: fixed;
        background-color: #f6f6f6;
        z-index: 99;
        transition: all 650ms;

        &__list{
            text-align: center;
            padding-right: 20%;
            flex-flow: column;
            margin-top: 90px;
        }

        &__item{
            display: inline-block;
            height: 40px;
            width: 100%;

            &:hover{
                background-color: #004958;
        }
      }

        &__link{
            color: $cyan;

        &--underline{
            border: none;
            color: $cyan;
        }
      }
    }
  

    #mycheckbox:checked{
        &~ nav{
            right: -15%;
        }

            &+ .header__menu__toggler {
                position: fixed;


                & .fa.fa-bars {
                    display: none;
                }

                &  .fa.fa-close {
                    display: block;
                    color: #39c2d7;
                }
          }
    }
}  


.middle{
    height: 900px;

    &__heading{
        margin: 46px auto 41px;

        &--break{
            display: inline-block;
        }
    }

    &__article{
        display: flex;
        flex-flow: column wrap;
        gap: 20px;

        &__paragraph{
            max-width: 100%;
            align-self: center;
        }
    }
}

.bottom__content{
    &__button{
        width: 100px;
        height: 100px;
        color: white;
         font-size: 35px;
    }
}

.footer{
    height: 292px;

    &__section{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        padding-top: 56px;
        gap: 18px;
        text-align: center;
    }
}
}

@media only screen and (max-width: 375px) {
    .top {
      height: 667px;
      background-image: url(../assets/LTMmini.svg);
    }
  

    .top__list {
      padding-top: 165px;
    }
  
    .middle{  
        height: 1100px;
        
        &__heading{
            font-size: 230%;
        }
    }
  
}