.top__img{
    transform: scale(0.9);
    transition: all 1s;

    &:hover{
        transform: rotateY(180deg) scale(1.3);
    }
}

.middle__button--read-more{
    transition: all 1s;
    transform-origin: left top;

    &:hover{
        transform: rotateZ(10deg);
    }
}

.bottom__content__button{
    transition: all 1s;

    &:hover{
        color: $cyan;
        background-color: $white;
        border-color: $white;
        transform: scale(0.9);
    }
}