// Fonts
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;700&family=Source+Sans+Pro&display=swap");


$white: #ffffff;
$black: #0c0202;
$ivory: #eeeeee;
$gray: #666666;
$footerGray: #464547;
$cyan: #55c2d8;
$layoutColor: rgba(140, 79, 42, 0.3);

$font-global: "Source Sans Pro", sans-serif;
$font-heading: "Oswald", sans-serif;

// Breakpoints

$small: 375px;
$medium: 768px;
$large: 1200px;