.bottom{
    @include third(637px);
    position: relative;
    background: url(../assets/BackgroundBottom.png);
    text-align: center;

    &__layout{
        position: absolute;
        width: 100%;
        height: 637px;
        background-color: $layoutColor;
        z-index: 2;
    }

    &__content{
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        top: 85px;
        gap: 40px;
        z-index: 3;
        color: $white;

        &__button{
            width: 150px;
            height: 150px;
            align-self: center;
            background-color: $cyan ;
            border: solid $cyan 1px;
            border-radius: 50%;
            cursor: pointer;
            color: $white;
            font-size: 55px;
        }

        &__paragraph{
            align-self: center;
            max-width: 350px;
            line-height: 32px;
            font-size: 24px;
        }
    }
}