.footer {
    @include third(200px);
    background: $footerGray;
    color: $white;

    &__section{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 60px 60px;
        margin-left: 12.75%;
        margin-right: 12.75%;
        padding-top: 37px;
        white-space: nowrap;
    }

    &__logo{
    
        &__img{
            vertical-align: bottom;
        }

        &__name{
            padding-left: 16px;
            font-size: 18px;
            letter-spacing: 0.2em;
            vertical-align: bottom;
        }
        
        & ~ *{
            line-height: 19px;
            opacity: 40%;
        }
    }
   

    &__address{
        grid-column: 3 / 4;
        grid-row: 1/2;
    }

    &__mail{
        grid-column: 3 / 4;
        grid-row: 2;
        justify-self: start;
        margin: auto;
    }

    &__copyright{
        grid-column: 6 / 8;
        grid-row: 2/3;
        justify-self: end;
    }
  }
  