.middle{
    @include third(700px);
    background: $ivory;
    text-align: center;

    &__heading{
        margin-top: 46px;
        max-width: 669px;
        display: inline-block;
        color: $footerGray;

        &--break{
            display: none;
        }
    }

    &__paragraph{
        line-height: 32px;
        margin-top: 10px;
        font-size: 24px;
        color: $gray;
    }

    &__article{
        color: $gray;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        gap: 83px;
        margin: 43px 5%;


        &__paragraph{
            max-width: 45%;
            text-align: left;
        }
    }

    &__button--read-more{ 
        width: 115px;
        height: 36px;
        color: $white;
        font-family: $font-heading;
        letter-spacing: 0.1em;
        border-radius: 18px;
        background-color: $cyan;
        border: 1px solid $cyan;
    }
}