.top{
    @include third(800px);
    background: url(../assets/LTM.svg) center;
    color: $white;

    &__list{
        display: flex;
        flex-flow: column nowrap;
        padding-top: 270px;
        text-align: center;        
    }

    &__img{
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    &__heading{
        margin-top: 81px;
    }

    &__paragraph{
        font-size: 24px;
        opacity: 70%;
        line-height: 32px;
        padding-top: 32px;
    }

}

